include ../scrollText.pug
section.approach
    .approach__green-square.green-square.green-square--right-bottom
    .approach__back
    - const value = approach[0]
    if(value.svgs)
        each svg in value.svgs
            img.approach__svg(src=svg.img, style=`top:${svg.top?svg.top:"unset"}; left:${svg.left?svg.left:"unset"}; right:${svg.right?svg.right:"unset"}; bottom:${svg.bottom?svg.bottom:"unset"}; transform:${svg.transform?svg.transform:"unset"}; z-index:${svg.zIndex?svg.zIndex:"unset"}`)
    .approach__container.container.grid
            .approach__left.cover-mask 
                +scrollText("approach", approach)
                    if(value.title) 
                        .approach__title.title(style="opacity:1;")= value.title
            .approach__right
                each image in value.images 
                    .approach__image(style=`transform:${image.transform}; top:${image.top};right:${image.right};`)
                        img.approach__img(src=image.img) 
                    