include ./scrollText.pug
mixin interviewMixin(className, arr)
    section(class=className)
        - const value = arr[0]
        - const svg = value.svgs[0]
        if (svg)
            div(class=className+"__svg image-svg",style=` --src:url("${svg.img}");top:${svg.top?svg.top:"unset"}; left:${svg.left?svg.left:"unset"}; right:${svg.right?svg.right:"unset"}; bottom:${svg.bottom?svg.bottom:"unset"}; transform:${svg.transform?svg.transform:"unset"}; z-index:${svg.zIndex?svg.zIndex:"unset"}`)
        .container(class=className+"__container grid")
            
                div(class=className+"__left")
                    each image, idx in value.images 
                        img(class=className+"__img",src=image.img, style=` position:${idx===0?"static":"absolute"};transform:${image.transform}; top:${image.top};left:${image.left};`) 
                div(class=className+"__right")
                    +scrollText(className,arr)
                        block